

body{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    margin: 5%;
}

ul{
    display: flex;
    
}

ul li{
    list-style: none;
    margin: auto ;
    text-align: center;
    padding: 1rem;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1rem;
}

ul li img{
    width: 200px;
    height: auto;
}