body{
    padding: 0;
    margin: 0;
}

nav{
    background-color: rgb(255, 204, 0);
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    top: 0;
}

.logo{
    width: auto;
    height: 4rem;
    margin: 0.5%;
}

/* nav input{
    border-radius: 50px;
    // padding: 0.7rem 10rem; 
    width: 10rem;
    height: 0.7rem;

} */

nav ul{
    display: flex;
    
}

nav ul li{
    list-style: none;
    color: darkslategrey;
    margin: auto 3%;
    background-color: crimson;
    border-radius: 50px;
    padding: 0.5rem 1.5rem;
}

nav ul li a{
    color: aliceblue;
    text-decoration: none;
    text-shadow: 10px;
}